/*******************************/
          /* IMPORTS */
/*******************************/


/* FONTS */

/* Antonio medium: 500 */
/* Spartan regular: 400 */
/* Spartan bold: 700 */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */


/*******************************/
         /* VARIABLES */
/*******************************/


:root {


/* COLORS */
--white: #fff;
--dark-blackish-blue: #070724;
--dark-gray: #38384F;
--light-gray: #838391;
--cyan: #419EBB;
--gold: #EDA249;
--purple: #6F2ED6;
--dark-reddish-orange: #D14C32;
--red: #D83A34;
--dark-orange: #CD5120;
--sea-green: #1EC284;
--blue: #2D68F0;


/* FONTS */


/* Font Families */
--antonio: 'Antonio', sans-serif;
--spartan: 'Spartan', sans-serif;


/* Font Weights */
--fw-regular: 400;
--fw-medium: 500;
--fw-bold: 700;


}


/*******************************/
        /* MAIN STYLES */
/*******************************/


/* MOBILE */


/* html */
html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* body */
.main-container {
  background-color: var(--dark-blackish-blue);
  color: var(--white);
  font-family: var(--spartan);
  font-weight: var(--fw-regular);
}


/* Nav */
.main-nav {
  display: flex;
  flex-direction: column; 
}


/* Navbar */
.navbar {
  height: 2.25rem;
  margin: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Nav Horizontal Line */
.nav-horizontal-line {
  height: 0.0625rem;
  background-color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.2;
}


/* Nav h2 */
.nav-title {
  font-family: var(--antonio);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.065625rem;
}


/* Hamburger Menu */
.hamburger-menu {
  height: 1.0625rem;
  width: 1.5rem;
  background-image: url(../../public/assets/icon-hamburger.svg);
}


/* NAV BTNS */


/* Nav buttons container */
.nav-btns-container {
  /* width: 100%; */
  margin: 1.5rem 1.5rem auto 1.5rem;
  display: none;
}


/* Nav Btn Container */
.nav-btn-container {
  height: 1.5625rem;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Nav Info Container*/
.nav-btn-info-container {
  display: flex;
  align-items: center;
}


/* Planet Color Container */
.planet-color-container {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  margin-right: 1.5625rem;
}


/* Nav Button Copy */
.nav-btn-copy {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0852275rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--white);
}


/* ****************** */
/* PLANET COLORS */


/* Mercury */
.mercury-color-container {
  background-color: var(--cyan);
}


/* Venus */
.venus-color-container {
  background-color: #F7CC7F;
}


/* Earth */
.earth-color-container {
  background-color: #545BFE;
}


/* Mars */
.mars-color-container {
  background-color: #FF6A45;;
}


/* Jupiter */
.jupiter-color-container {
  background-color: #ECAD7A;
}


/* Saturn */
.saturn-color-container {
  background-color: #FCCB6B;
}


/* Uranus */
.uranus-color-container {
  background-color: #65F0D5;
}


/* Neptune */
.neptune-color-container {
  background-color: #497EFA;
}


/* ****************** */


/* Chevron Icon */
.chevron-icon {
  height: 0.5rem;
  width: 0.25rem;
  margin-right: 0.5rem;
  background-image: url(../../public/assets/icon-chevron.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


/* MAIN CONTENT */


/* main */
/* .main-content {
  
} */


/* Fact Selection Buttons Container */
.fact-selection-btns-container {
  height : 3.125rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Selction Button */
.selection-btn {
  height: 1.9375rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Selection Button Copy */
.selection-btn-copy {
  font-size: 0.5625rem;
  line-height: 0.625rem;
  letter-spacing: 0.120536rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  text-align: center;
}


/* Selection Marker */
.selection-marker {
  height: 0.25rem;
}


/* Overview Marker */
.overview-marker-color{
  background-color: var(--cyan);
} 


/* Structure Marker */
.structure-marker-color{
  background-color: var();
}


/* Surface Marker */



























